<!DOCTYPE html>
<html lang="en">

<head>

{% include 'head.html' %}
{% include 'table_head.html' %}
</head>

<body id="page-top">

{% include 'nav.html' %}

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-16">
                    
                    <div class="header-content">
                        <div class="header-content-inner">
                            {% if data is not none %}
                            {% include 'markets.html' %}
                            {% endif %}
                            <a href="/chart/BTCE/PPCUSD" id="emit" class="btn btn-outline btn-xl page-scroll">Get Started!</a>
                        </div>
                    </div>
                </div>
        </div>
    </header>


    <footer>
        <div class="container">
            <p>&copy; 2017 embeddedthought All Rights Reserved.</p>
            <ul class="list-inline">
                <li>
                    <a href="#">Privacy</a>
                </li>
                <li>
                    <a href="#">Terms</a>
                </li>
                <li>
                    <a href="#">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>

    
    <script src="/static/lib/jquery/jquery.tablesorter.js"></script>
    
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="/static/js/new-age.min.js"></script>

</body>

</html>
