  <table id="keywords" cellspacing="0" cellpadding="0" class="table table-hover" data-sortlist="[[0,0]]" >
    <thead>
      <tr>
        <th><span>Name</span></th>
        <th class="{sorter: 'digit'}"><span>Supply</span></th>
        <th class="{sorter: 'digit'}"><span>Marketcap</span></th>
        <th class="{sorter: 'digit'}"><span>Volume</span></th>
        <th class="{sorter: 'digit'}"><span>Price</span></th>
        <th class="{sorter: 'digit'}"><span>1hr </span></th>
        <th class="{sorter: 'digit'}"><span>24hr </span></th>
        <th class="{sorter: 'digit'}"><span>7d </span></th>
      </tr>
    </thead>
    <tbody>
      <tr id="peercoin">
        <td class="lalign">Peercoin</td>
        <td id="peercoin_supply"></td>
        <td id="peercoin_marketcap"></td>
        <td id="peercoin_volume"></td>
        <td id="peercoin_last"></td>
        <td id="peercoin_1hr"></td>
        <td id="peercoin_24hr"></td>
        <td id="peercoin_7d"></td>
      </tr>
      
      <tr id="bitcoin">
        <td class="lalign">Bitcoin</td>
        <td id="bitcoin_supply"></td>
        <td id="bitcoin_marketcap"></td>
        <td id="bitcoin_volume"></td>
        <td id="bitcoin_last"></td>
        <td id="bitcoin_1hr"></td>
        <td id="bitcoin_24hr"></td>
        <td id="bitcoin_7d"></td>      
      </tr>
      
      <tr id="litecoin">
        <td class="lalign">Litecoin</td>
        <td id="litecoin_supply"></td>
        <td id="litecoin_marketcap"></td>
        <td id="litecoin_volume"></td>
        <td id="litecoin_last"></td>
        <td id="litecoin_1hr"></td>
        <td id="litecoin_24hr"></td>
        <td id="litecoin_7d"></td>
      </tr>

      <tr id="ethereum">
        <td class="lalign">Ethereum</td>
        <td id="ethereum_supply"></td>
        <td id="ethereum_marketcap"></td>
        <td id="ethereum_volume"></td>
        <td id="ethereum_last"></td>
        <td id="ethereum_1hr"></td>
        <td id="ethereum_24hr"></td>
        <td id="ethereum_7d"></td>
      </tr>

      <tr id="dash">
        <td class="lalign">Dash</td>
        <td id="dash_supply"></td>
        <td id="dash_marketcap"></td>
        <td id="dash_volume"></td>
        <td id="dash_last"></td>
        <td id="dash_1hr"></td>
        <td id="dash_24hr"></td>
        <td id="dash_7d"></td>
        
      </tr>
      <tr id="novacoin">
        <td class="lalign">Novacoin</td>
        <td id="novacoin_supply"></td>
        <td id="novacoin_marketcap"></td>
        <td id="novacoin_volume"></td>
        <td id="novacoin_last"></td>
        <td id="novacoin_1hr"></td>
        <td id="novacoin_24hr"></td>
        <td id="novacoin_7d"></td>
        
      </tr>
      
      <tr id="namecoin">
        <td class="lalign">Namecoin</td>
        <td id="namecoin_supply"></td>
        <td id="namecoin_marketcap"></td>
        <td id="namecoin_volume"></td>
        <td id="namecoin_last"></td>
        <td id="namecoin_1hr"></td>
        <td id="namecoin_24hr"></td>
        <td id="namecoin_7d"></td>
        
      </tr>
    </tbody>
  </table>