  <table id="keywords" cellspacing="0" cellpadding="0" class="table table-hover" data-sortlist="[[0,0]]" >
    <thead>
      <tr>
        <th><span>Name</span></th>
        <th class="{sorter: 'digit'}"><span>Supply</span></th>
        <th class="{sorter: 'digit'}"><span>Marketcap</span></th>
        <th class="{sorter: 'digit'}"><span>Volume</span></th>
        <th class="{sorter: 'digit'}"><span>Price</span></th>
        <th class="{sorter: 'digit'}"><span>1hr </span></th>
        <th class="{sorter: 'digit'}"><span>24hr </span></th>
        <th class="{sorter: 'digit'}"><span>7d </span></th>
      </tr>
    </thead>
    <tbody>
      <tr id="peercoin">
        <td class="lalign">Peercoin</td>
        <td id="peercoin_supply">{{ data.peercoin.total_supply }}</td>
        <td id="peercoin_marketcap">{{ data.peercoin.market_cap_usd }}</td>
        <td id="peercoin_volume">{{ data.peercoin.volume }}</td>
        <td id="peercoin_last">{{ data.peercoin.price_usd }}</td>
        <td id="peercoin_1hr">{{ data.peercoin.percent_change_1h }}</td>
        <td id="peercoin_24hr">{{ data.peercoin.percent_change_24h }}</td>
        <td id="peercoin_7d">{{ data.peercoin.percent_change_7d }}</td>
      </tr>
      
      <tr id="bitcoin">
        <td class="lalign">Bitcoin</td>
        <td id="bitcoin_supply">{{ data.bitcoin.total_supply }}</td>
        <td id="bitcoin_marketcap">{{ data.bitcoin.market_cap_usd }}</td>
        <td id="bitcoin_volume">{{ data.bitcoin.volume }}</td>
        <td id="bitcoin_last">{{ data.bitcoin.price_usd }}</td>
        <td id="bitcoin_1hr">{{ data.bitcoin.percent_change_1h }}</td>
        <td id="bitcoin_24hr">{{ data.bitcoin.percent_change_24h }}</td>
        <td id="bitcoin_7d">{{ data.bitcoin.percent_change_7d }}</td>
      </tr>
      
      <tr id="litecoin">
        <td class="lalign">Litecoin</td>
        <td id="litecoin_supply">{{ data.litecoin.total_supply }}</td>
        <td id="litecoin_marketcap">{{ data.litecoin.market_cap_usd }}</td>
        <td id="litecoin_volume">{{ data.litecoin.volume }}</td>
        <td id="litecoin_last">{{ data.litecoin.price_usd }}</td>
        <td id="litecoin_1hr">{{ data.litecoin.percent_change_1h }}</td>
        <td id="litecoin_24hr">{{ data.litecoin.percent_change_24h }}</td>
        <td id="litecoin_7d">{{ data.litecoin.percent_change_7d }}</td>
      </tr>

      <tr id="ethereum">
        <td class="lalign">Ethereum</td>
        <td id="ethereum_supply">{{ data.ethereum.total_supply }}</td>
        <td id="ethereum_marketcap">{{ data.ethereum.market_cap_usd }}</td>
        <td id="ethereum_volume">{{ data.ethereum.volume }}</td>
        <td id="ethereum_last">{{ data.ethereum.price_usd }}</td>
        <td id="ethereum_1hr">{{ data.ethereum.percent_change_1h }}</td>
        <td id="ethereum_24hr">{{ data.ethereum.percent_change_24h }}</td>
        <td id="ethereum_7d">{{ data.ethereum.percent_change_7d }}</td>
      </tr>

      <tr id="dash">
        <td class="lalign">Dash</td>
        <td id="dash_supply">{{ data.dash.total_supply }}</td>
        <td id="dash_marketcap">{{ data.dash.market_cap_usd }}</td>
        <td id="dash_volume">{{ data.dash.volume }}</td>
        <td id="dash_last">{{ data.dash.price_usd }}</td>
        <td id="dash_1hr">{{ data.dash.percent_change_1h }}</td>
        <td id="dash_24hr">{{ data.dash.percent_change_24h }}</td>
        <td id="dash_7d">{{ data.dash.percent_change_7d }}</td>
        
      </tr>
      <tr id="novacoin">
        <td class="lalign">Novacoin</td>
        <td id="novacoin_supply">{{ data.novacoin.total_supply }}</td>
        <td id="novacoin_marketcap">{{ data.novacoin.market_cap_usd }}</td>
        <td id="novacoin_volume">{{ data.novacoin.volume }}</td>
        <td id="novacoin_last">{{ data.novacoin.price_usd }}</td>
        <td id="novacoin_1hr">{{ data.novacoin.percent_change_1h }}</td>
        <td id="novacoin_24hr">{{ data.novacoin.percent_change_24h }}</td>
        <td id="novacoin_7d">{{ data.novacoin.percent_change_7d }}</td>
        
      </tr>
      
      <tr id="namecoin">
        <td class="lalign">Namecoin</td>
        <td id="namecoin_supply">{{ data.namecoin.total_supply }}</td>
        <td id="namecoin_marketcap">{{ data.namecoin.market_cap_usd }}</td>
        <td id="namecoin_volume">{{ data.namecoin.volume }}</td>
        <td id="namecoin_last">{{ data.namecoin.price_usd }}</td>
        <td id="namecoin_1hr">{{ data.namecoin.percent_change_1h }}</td>
        <td id="namecoin_24hr">{{ data.namecoin.percent_change_24h }}</td>
        <td id="namecoin_7d">{{ data.namecoin.percent_change_7d }}</td>
        
      </tr>
    </tbody>
  </table>