    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="/">Peercoin <span class="glyphicon glyphicon-leaf"></span> Wisdom</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown"> BTCe<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="background-color: rgba(255,255,255,0.7)">
                        <li><a href="/chart/BTCE/PPCUSD"> PPC/USD </a></li>
                        <li><a href="/chart/BTCE/BTCUSD"> BTC/USD </a></li>
                        <li><a href="/chart/BTCE/ETHUSD"> ETH/USD </a></li>
                        <li><a href="/chart/BTCE/LTCUSD"> LTC/USD </a></li>
                        <li><a href="/chart/BTCE/NMCUSD"> NMC/USD </a></li>
                        <li><a href="/chart/BTCE/NVCUSD"> NVC/USD </a></li>
                        <li class="divider"></li>
                        <li><a href="/chart/BTCE/PPCBTC"> PPC/BTC </a></li>
                        <li><a href="/chart/BTCE/ETHBTC"> ETH/BTC </a></li>
                        <li><a href="/chart/BTCE/LTCBTC"> LTC/BTC </a></li>
                        <li><a href="/chart/BTCE/DSHBTC"> DSH/BTC </a></li>
                        <li><a href="/chart/BTCE/NMCBTC"> NMC/BTC </a></li>
                        <li><a href="/chart/BTCE/NVCBTC"> NVC/BTC </a></li>
                        <li class="divider"></li>
                        <li><a href="/chart/BTCE/ETHLTC"> ETH/LTC </a></li>
                        <li class="divider"></li>
                        <li><a href="/chart/BTCE/BTCRUR"> BTC/RUR </a></li>
                        <li><a href="/chart/BTCE/LTCRUR"> LTC/RUR </a></li>
                        <li><a href="/chart/BTCE/ETHRUR"> ETH/RUR </a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Bitfinex<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" style="background-color: rgba(255,255,255,0.7)">
                        <li><a href="/chart/BITFINEX/BTCUSD"> BTC/USD </a></li>
                        <li><a href="/chart/BITFINEX/LTCUSD"> LTC/USD </a></li>
                        <li><a href="/chart/BITFINEX/ETHUSD"> ETH/USD </a></li>
                        <li class="divider"></li>
                        <li><a href="/chart/BITFINEX/LTCBTC"> LTC/BTC </a></li>
                        <li><a href="/chart/BITFINEX/ETHBTC"> ETH/BTC </a></li>

                    </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">  Poloniex<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" style="background-color: rgba(255,255,255,0.7)">
                        <li><a href="/chart/POLONIEX/PPCBTC"> PPC/BTC </a></li>
                        <li><a href="/chart/POLONIEX/LTCBTC"> LTC/BTC </a></li>
                        <li><a href="/chart/POLONIEX/NMCBTC"> NMC/BTC </a></li>
			<li><a href="/chart/POLONIEX/DOGEBTC"> DOGE/BTC </a></li>
                        <li><a href="/chart/POLONIEX/ETHBTC"> ETH/BTC </a></li>
                        <li><a href="/chart/POLONIEX/ETCBTC"> ETC/BTC </a></li>
                        <li><a href="/chart/POLONIEX/FCTBTC"> FCT/BTC </a></li>
                        <li><a href="/chart/POLONIEX/NBTBTC"> NBT/BTC </a></li>
                        <li><a href="/chart/POLONIEX/NXTBTC"> NXT/BTC </a></li>
                        <li><a href="/chart/POLONIEX/LSKBTC"> LSK/BTC </a></li>
                        <li><a href="/chart/POLONIEX/MAIDBTC"> MAID/BTC </a></li>
                        <li><a href="/chart/POLONIEX/XMRBTC"> XMR/BTC </a></li>
                        <li><a href="/chart/POLONIEX/XRPBTC"> XRP/BTC </a></li>
                        <li class="divider"></li>
                        <li><a href="/chart/POLONIEX/ETCETH"> ETC/ETH </a></li>
                        <li><a href="/chart/POLONIEX/LSKETH"> LSK/ETH </a></li>
                    </ul>
                    </li>
                    
                    <li>
                        <a href="/tbarchive" >  Troll-Box Archive</a>
                    </li>

                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
